@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext");

@import "./variables/variables";
@import "./base.scss";
@import "./blocks/header/header.scss";
@import "./blocks/sidepanel/sidepanel";
@import "./blocks/order/order";
@import "./blocks/promotion/promotion";
@import "./blocks/footer/footer";
@import "./blocks/modal/modal";

.show {
  display: block;
  animation: modal ease 2s;
}
.hide {
  animation: modalClose ease 2s;
  display: none;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modalClose {
  from {
    display: block;
  }
  to {
    transform: translateY(40px);
    opacity: 0;
  }
}
